[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
aiocache = "~=0.10"
sanic = "~=20.12"
toml = "~=0.10"
marshmallow = "~=2.19"
aionotify = "~=0.2"
msgpack = "~=0.6"

[requires]
python_version = "3.7"
